MOCKS_FILE=/tmp/mocks.json

#MOCKS_DATASOURCE=mysql
#DB_USER={{user}}
#DB_PASSWORD={{password}}
#DB_HOST={{host}}
#DB_PORT={{port}}

# DynamoDB Configuration
#MOCKS_DATASOURCE=dynamodb
#AWS_REGION=us-east-1
#DYNAMO_ENDPOINT=http://localhost:4566
#DYNAMO_TABLE_PREFIX=mockserver_